set timeout=5 
set default=1

menuentry "Fedora 21 " {
   insmod ext2
   search --set=root --label rootfs --hint hd0,msdos2
   linux /boot/vmlinuz root=LABEL=rootfs selinux=0
   initrd /boot/initramfs
}

